/*
 * CSS styles for template 1_1
 */
 
@import url(http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,300,300italic|Roboto+Slab:400,300,700);
 
html {background: #f4f4f4; margin: 0;}
 
.lp1_1 {width: 960px; margin: 0 auto; text-align: center; background-color: white; padding: 20px;}

h1, h2, h3 {font-family: 'Roboto Slab', sans-serif; color: #353a3f;}
h1 {font-weight: 700; font-size: 44px; margin: 0 20px 0.3em; line-height: 1.2em;}
h2 {font-weight: 400; font-size: 28px; margin: 0 0 0.3em;}
h3 {font-weight: 400; font-size: 22px; margin: 0 0 0.4em; color: #616161;}

h4, h5 {font-family: 'Roboto', sans-serif;}
h4 {font-weight: 500; font-style: italic; font-size: 18px;}
h5 {font-weight: 500; font-size: 18px;}

body, p {font-family: 'Roboto', sans-serif; font-size: 16px; font-weight: 300;}

div {vertical-align: top;}

ul li {margin: 0 0 0.2em;}

input[type="text"] {border: 1px solid #ccc; padding: 8px; width: 280px; font-size: 18px; color: #777; margin: 0 0 0.8em;}

#formfields {margin: 0 0 1em;}

.lp-content {margin: 40px 0;}

#contentwrapper {display: inline-block; width: 480px; text-align: left; margin: 0 25px 0 40px;}
#formwrapper {display: inline-block; width: 320px; padding: 20px; margin: 0 40px 0 0; border: 2px solid #e6e6e6; background-color: #f6f6f6; border-radius: 3px;}